.project_details{
    padding: 25px 10px;
    width: 100%;
}

.project_details h1{
    background-color: #222;
    color: #ffbb33;
    padding: 16px 40px 16px 10px;
    border: 2px solid #555;
}

.project_details span{
    font-weight: bold;
}

.project_details .project_infos p{
    margin-bottom: 20px;
    color: #222;
    font-size: 1.1rem;
}

.btn{
    background-color: #222;
    color: #fff;
    padding: 16px;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    transition: 100ms linear;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: #ffbb33;
}

.header_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.details_container, .service_form_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.service_form_container{
    color: #222;
}

.project_details{
    width: 100%;
}

.form_project{
    margin: 0 auto;
    width: 450px;
}

.servico_titulo{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8rem;
    color: #222;
}

.msg_project_none{
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    color: #222;
    font-size: 1.3rem;
    font-weight: 600;
}